<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>車両情報変更</title>
</head>

<body>
    <header>
        <p>logo</p>
        <p>name</p>
    </header>

    <h1>車両登録</h1>

    <!-- 車両名 -->
    <label for="carName">
        <input type="text" name="carName" id="carName">
    </label>

    <!-- グレード -->
    <label for="grade">
        <input type="text" name="grade" id="grade">
    </label>

    <!-- メーカー -->
    <label for="maker">
        <input type="text" name="maker" id="maker">
    </label>

    <!-- 金額 -->
    <label for="amount">
        <input type="text" name="amount" id="amount">
    </label>

    <!-- 年式 -->
    <label for="productYear">
        <select name="productYear" id="productYear">

        </select>
    </label>

    <!-- モデル年式 -->
    <label for="modelYear">
        <select name="modelYear" id="modelYear">

        </select>
    </label>

    <!-- 型式 -->
    <label for="model">
        <input type="text" name="model" id="model">
    </label>

    <!-- 排気量 -->
    <label for="displacement">
        <input type="text" name="displacement" id="displacement">
    </label>

    <!-- 走行形状 -->
    <label for="mileage">
        <input type="text" name="mileage" id="mileage">
    </label>

    <!-- 形状 -->
    <label for="shape">
        <input type="text" name="shape" id="shape">
    </label>

    <!-- トランスミッション -->
    <label for="transmission">
        <input type="text" name="transmission" id="transmission">
    </label><br>

    <!-- 駆動方式 -->
    <label for="driveSystem">
        <select name="driveSystem" id="driveSystem">

        </select>
    </label><br>

    <!-- 定員 -->
    <label for="capacity">
        <select name="capacity" id="capacity">

        </select>
    </label><br>

    <!-- ドア数 -->
    <label for="door">
        <select name="door" id="door">

        </select>
    </label><br>

    <!-- ハンドル -->
    <label for="handle">
        <select name="handle" id="handle">

        </select>
    </label><br>

    <!-- 評価点 -->
    <label for="point">
        <select name="point" id="point">

        </select>
    </label><br>

    <!-- 外装色 -->
    <label for="exteriorColor">
        <input type="text" name="exteriorColor" id="exteriorColor">
    </label><br>

    <!-- 内装色 -->
    <label for="interiorColor">
        <input type="text" name="interiorColor" id="interiorColor">
    </label><br>

    <!-- 車検 -->
    <label for="vehicleInspection">
        <select name="vehicleInspection" id="vehicleInspection">

        </select>
    </label><br>

    <!-- 修復歴 -->
    <label for="repairHistory">
        <select name="repairHistory" id="repairHistory">

        </select>
    </label><br>

    <!-- コメント -->
    <label for="comment">
        <input type="text" name="comment" id="comment">
    </label><br>

    <button type="submit">登録する</button>
</body>

</html>
