<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>車両登録</title>
</head>

<body>
    <header>
        <p>logo</p>
        <p>name</p>
    </header>

    <h1>車両登録</h1>

    <label for="carName">
        <input type="text" name="carName" id="carName">
    </label>

    <label for="grade">
        <input type="text" name="grade" id="grade">
    </label>

    <label for="maker">
        <input type="text" name="maker" id="maker">
    </label>

    <label for="amount">
        <input type="text" name="amount" id="amount">
    </label>

    <label for="productYear">
        <select name="productYear" id="productYear">

        </select>
    </label>

    <label for="modelYear">
        <select name="modelYear" id="modelYear">

        </select>
    </label>

    <label for="model">
        <input type="text" name="model" id="model">
    </label>

    <label for="displacement">
        <input type="text" name="displacement" id="displacement">
    </label>

    <label for="mileage">
        <input type="text" name="mileage" id="mileage">
    </label>

    <label for="shape">
        <input type="text" name="shape" id="shape">
    </label>

    <label for="displacement">
        <input type="text" name="displacement" id="displacement">
    </label>

    <!-- トランスミッション -->
    <label for="transmission">
        <input type="text" name="transmission" id="transmission">
    </label>

    <label for="driveSystem">
        <input type="text" name="driveSystem" id="driveSystem">
    </label>

    <label for="displacement">
        <input type="text" name="displacement" id="displacement">
    </label>
    <label for="displacement">
        <input type="text" name="displacement" id="displacement">
    </label>
    <label for="displacement">
        <input type="text" name="displacement" id="displacement">
    </label>
    <label for="displacement">
        <input type="text" name="displacement" id="displacement">
    </label>
    <label for="displacement">
        <input type="text" name="displacement" id="displacement">
    </label>


</body>

</html>
