<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>ログイン画面</title>
  </head>
  <style>
    * {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      box-sizing: border-box;
      text-decoration: none;
    }
    .none {
      display: none;
      /* ボックスごと非表示 */
    }
    .hidden {
      text-indent: 100%;
      white-space: nowrap; /* 改行せずに表示 */
      overflow: hidden;
      /* ボックスの中身が不可視 */
    }
    body {
      width: 100%;
      height: 100%;
    }
    header {
      width: 100%;
      height: 100px;
      display: flex;
      font-size: 25px;
      justify-content: center;
      align-items: center;
      background-color: aqua;
      text-align: center;
      margin: 0 auto;
    }

    .login_box {
      width: 40%;
      height: 300px;
      background-color: rgb(225, 222, 222);
      border-radius: 8px;
    }
  </style>
  <body>
    <header>
      <p>ログイン画面</p>
    </header>
    <div class="login_box">
      <h1>ログイン</h1>
      <div>
        <input type="text" name="id" id="password" /><br />
        <input type="text" name="password" id="password" /><br />
        <button type="submit">ログインする</button>
      </div>
    </div>
    <footer></footer>
  </body>
</html>
