<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン画面</title>
</head>
<body>
    <header>
        <p>name</p>
    </header>
    <h1>ログイン</h1>
    <div>
        <input type="text" name="id" id="password"><br>
        <input type="text" name="password" id="password"><br>
        <button type="submit">ログインする</button>
    </div>
</body>
</html>