<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>マイページ</title>
</head>
<body>
    <header>
        <p>name</p>
        <p>ログイン名</p>
    </header>
    <button type="submit">購入した中古車情報を確認する</button><br>
    <button type="submit">会員情報を変更する</button><br>
    <button type="submit">発送状況を確認する</button><br>
    <button type="submit">ログアウトする</button><br>
    <button type="submit">退会する</button>
</body>
</html>