<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>マイページ</title>
</head>
<body>
    <header>
        <p>name</p>
        <p>ログイン名</p>
    </header>
    <h1>マイページ</h1>
    <button type="submit">登録した車を出品する</button><br>
    <button type="submit">取引中中古車情報確認</button><br>
    <button type="submit">中古車発送状況確認</button><br>
    <button type="submit">キャンセルする</button><br>
    <button type="submit">支払い状況</button><br>
    <button type="submit">台帳</button><br>
    <button type="submit">ログアウトする</button><br>
    <button type="submit">退会する</button>
</body>
</html>