<h1>個人・業者登録</h1>

<!-- <h2>業者</h2> -->

<label for="">
    <input type="radio" name="select" id="company">業者
    <input type="radio" name="select" id="solo">個人
</label><br>
<label for="name">
    氏名：<input type="text" name="name">
</label><br>
<label for="">
    電話番号：<input type="tel" name="tel" size="12">
</label><br>
<label for="">
    住所：<input type="text" name="address">
</label><br>
<label for="">
    パスワード：<input type="password" name="password">
</label><br>
<label for="">
    パスワード再入力：<input type="password" name="password">
</label><br>
<button type="submit">登録する</button>


<!-- <h2>個人</h2>
<label for="name">
    氏名：<input type="text" name="name">
</label><br>
<label for="">
    ニックネーム：<input type="text" name="nickname">
</label><br>
<label for="">
    電話番号：<input type="tel" name="tel" size="12"><br>
</label>
<label for="">
    生年月日：
    <select name="year" id="year">

    </select>
    年
    <select name="month" id="month">

    </select>
    月
    <select name="day" id="day">

    </select>
    日
</label><br>
<label for="">
    住所：<input type="text" name="address"><br>
</label>
<label for="">
    パスワード：<input type="password" name="password"><br>
</label>
<label for="">
    パスワード再入力：<input type="password" name="password"><br>
</label> -->
