<h1>登録</h1>


<label for="distinction">
    <input type="radio" name="distinction" id="distinction" required>業者
    <input type="radio" name="distinction" id="distinction" required>個人
</label><br>
<label for="name">
    氏名：<input type="text" name="name" required>
</label><br>
<label for="phone_number">
    電話番号：<input type="phone_number" name="phone_number" size="12" required>
</label><br>
<label for="address">
    住所：<input type="text" name="address" required>
</label><br>
<label for="password">
    パスワード：<input type="password" name="password" required>
</label><br>

<input type="submit" value="登録する" required>

<!-- <script src="/socket.io/socket.io.js"></script> -->
<script>
    // const SocketIo = io();

    // const getRequest = () => {
    //     const name = document.getElementById('name').value//name取得
    //     const phone_number = document.getElementById('phone_number').value//phone_number取得
    //     const address = document.getElementById('address').value//address取得
    //     const password = document.getElementById('password').value//password取得
    //     fetch(`/user/signup/${id}`).then((res) => {
    //         res.json().then((data) => {
    //             const newElm = document.createElement('p')
    //             let resultMessage = "GET："
    //             for (let i = 0; i < data.length; i++) {

    //                 resultMessage += data[i]['name']
    //                 resultMessage += data[i]['phone_number']
    //                 resultMessage += data[i]['address']
    //                 resultMessage += data[i]['password']
    //             }

    //             const newContent = document.createTextNode(resultMessage)
    //             newElm.appendChild(newContent)
    //             const parentElm = document.getElementById('messageArea')
    //             parentElm.insertBefore(newElm, parentElm.firstChild)
    //         })
    //     })
    // }


    // SocketIo.on('test3', (msg) => {
    //     console.log(msg)
    // })

    // SocketIo.on('test7', (msg) => {
    //     console.log(msg)
    // })

</script>
