<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>出品者 管理一覧ページ</title>
</head>
<style>
  * {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
  }

  .none {
    display: none;
    /* ボックスごと非表示 */
  }

  .hidden {
    text-indent: 100%;
    white-space: nowrap;
    /* 改行せずに表示 */
    overflow: hidden;
    /* ボックスの中身が不可視 */
  }

  body {
    width: 100%;
    height: 100%;
  }

  header {
    width: 100%;
    height: 80px;
    display: flex;
    font-size: 25px;
    align-items: center;
    background-color: aqua;
    text-align: center;
    margin: 0 auto;
  }

  .logo {
    width: 55%;
    text-align: right;
  }

  .header_r {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_r>li {
    margin: 15px;
  }

  .header_r>li>button {
    color: #fff;
    background-color: #eb6100;
    border: 1px solid gray;
    width: 100px;
    height: 40px;
  }

  .login_name {
    font-size: 20px;
  }

  .login_box {
    width: 40%;
    height: 300px;
    background-color: rgb(225, 222, 222);
    border-radius: 8px;
  }
</style>

<body>
  <header>
    <p class="logo">
      <a href="/management"> LOGO 社名 </a>
    </p>

    <ul class="header_r">
      <li>
        <button>
          <a href="/car"> 車両登録</a>
        </button>
      </li>
      <li class="login_name">ログイン指名</li>
    </ul>
  </header>
  <main>
    ユーザーID：<input type="text" id="user_id" name="user_id"><br>
    <button type="submit" name="trust_flg" id="trust_flg" value="1" onclick="trustPostRequest()">信用フラグ</button><br>
    <hr>
    プロジェクトID：<input type="text" name="project_id" id="project_id"><br>
    <button type="submit" name="documents_flg" id="documents_flg" value="1">書類フラグ</button><br>
    <button type="submit" name="repair_service_id" id="repair_service_id" value="1">修理フラグ</button><br>
    <button type="submit" name="car_inspection_service_id" id="car_inspection_service_id" value="1">車検フラグ</button><br>
    <button type="submit" name="payment_flg" id="payment_flg" value="1">支払いフラグ</button><br>
    <button type="submit" name="receipt_contact_flg" id="receipt_contact_flg" value="1">受け取り連絡フラグ</button><br>
    <button type="submit" name="deposit_apply_flg" id="deposit_apply_flg" value="1">消込フラグ</button><br>
    <button type="submit" name="shipped_flg" id="shipped_flg" value="1">出荷フラグ</button><br>
    <button type="submit" name="reminder_flg" id="reminder_flg" value="1">催促フラグ</button><br>
    <button type="submit" name="illegal_action_flg" id="illegal_action_flg" value="1">法的措置フラグ</button><br>
  </main>
  <div id="messageArea"></div>
</body>

</html>

<script>
  const trustPostRequest = () => {
    const user_id = document.getElementById('user_id').value
    const trust_flg = document.getElementById('trust_flg').value

    const param = {
      method: "PUT",
      headers: {
        "Content-Type": "application/json; charset=utf-8"
      },
      body: JSON.stringify({
        user_id: user_id,
        trust_flg: trust_flg
      })
    }
    fetch('/flg', param).then((res) => {
    })
  }
</script>
