<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>出品者 管理一覧ページ</title>
  </head>
  <style>
    * {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      box-sizing: border-box;
      text-decoration: none;
    }

    .none {
      display: none;
      /* ボックスごと非表示 */
    }

    .hidden {
      text-indent: 100%;
      white-space: nowrap;
      /* 改行せずに表示 */
      overflow: hidden;
      /* ボックスの中身が不可視 */
    }

    body {
      width: 100%;
      height: 100%;
    }

    header {
      width: 100%;
      height: 80px;
      display: flex;
      font-size: 25px;
      align-items: center;
      background-color: rgb(202, 208, 177);
      border-bottom: 2px solid black;
      text-align: center;
      margin: 0 auto;
    }

    .logo {
      width: 55%;
      text-align: right;
    }

    .header_r {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header_r > li {
      margin: 15px;
    }

    .header_r > li > button {
      color: #fff;
      background-color: #eb6100;
      border: 1px solid gray;
      width: 100px;
      height: 40px;
    }

    .login_name {
      font-size: 20px;
    }

    .login_box {
      width: 40%;
      height: 300px;
      background-color: rgb(225, 222, 222);
      border-radius: 8px;
    }

    .button {
      display: inline-block;
      border-radius: 50%;
      /* 角丸       */
      font-size: 18pt;
      /* 文字サイズ */
      text-align: center;
      /* 文字位置   */
      cursor: pointer;
      /* カーソル   */
      padding: 9px 27px;
      /* 余白       */
      background: #eb6100;
      /* 背景色     */
      color: #ffffff;
      /* 文字色     */
      line-height: 1em;
      /* 1行の高さ  */
      transition: 0.3s;
      /* なめらか変化 */
      border: 2px solid #eb6100;
      /* 枠の指定 */
    }

    .button:hover {
      color: #eb6100;
      /* 背景色     */
      background: #ffffff;
      /* 文字色     */
    }

    main {
      text-align: center;
    }

    input {
      margin-bottom: 20px;
    }
  </style>

  <body>
    <header>
      <p class="logo">
        <a href="/management"> オークション </a>
      </p>

      <ul class="header_r">
        <li>
          <button>
            <a href="/car"> 車両登録</a>
          </button>
        </li>
        <li class="login_name"></li>
      </ul>
    </header>
    <main>
      ユーザーID：<input type="text" id="user_id" name="user_id" /><br />
      <button
        type="submit"
        name="trust_flg"
        id="trust_flg"
        value="1"
        onclick="trustPutRequest()"
        class="button"
      >
        信用フラグ</button
      ><br />
      <hr />
      プロジェクトID：<input
        type="text"
        name="project_id"
        id="project_id"
      /><br />
      <button
        type="submit"
        name="documents_flg"
        id="documents_flg"
        value="1"
        onclick="documentsPutRequest()"
        class="button"
      >
        書類フラグ</button
      ><br />
      <button
        type="submit"
        name="repair_service_flg"
        id="repair_service_flg"
        value="1"
        onclick="repairServicePutRequest()"
        class="button"
      >
        修理フラグ</button
      ><br />
      <button
        type="submit"
        name="car_inspection_service_flg"
        id="car_inspection_service_flg"
        value="1"
        onclick="carInspectionServicePutRequest()"
        class="button"
      >
        車検フラグ</button
      ><br />
      <button
        type="submit"
        name="payment_flg"
        id="payment_flg"
        value="1"
        onclick="paymentPutRequest()"
        class="button"
      >
        支払いフラグ</button
      ><br />
      <button
        type="submit"
        name="receipt_contact_flg"
        id="receipt_contact_flg"
        value="1"
        onclick="receiptContactPutRequest()"
        class="button"
      >
        受け取り連絡フラグ</button
      ><br />
      <button
        type="submit"
        name="deposit_apply_flg"
        id="deposit_apply_flg"
        value="1"
        onclick="depositApplyPutRequest()"
        class="button"
      >
        消込フラグ</button
      ><br />
      <button
        type="submit"
        name="shipped_flg"
        id="shipped_flg"
        value="1"
        onclick="shippedPutRequest()"
        class="button"
      >
        出荷フラグ</button
      ><br />
      <button
        type="submit"
        name="delivered_flg"
        id="delivered_flg"
        value="1"
        onclick="deliveredPutRequest()"
        class="button"
      >
        配達完了フラグ</button
      ><br />
      <button
        type="submit"
        name="reminder_flg"
        id="reminder_flg"
        value="1"
        onclick="reminderPutRequest()"
        class="button"
      >
        催促フラグ</button
      ><br />
      <button
        type="submit"
        name="illegal_action_flg"
        id="illegal_action_flg"
        value="1"
        onclick="illegalActionPutRequest()"
        class="button"
      >
        法的措置フラグ</button
      ><br />
    </main>
    <div id="messageArea"></div>
  </body>
</html>

<script>
  //信用フラグ処理
  const trustPutRequest = () => {
    const user_id = document.getElementById("user_id").value;
    const trust_flg = document.getElementById("trust_flg").value;

    const param = {
      method: "PUT",
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
      body: JSON.stringify({
        user_id: user_id,
        trust_flg: trust_flg,
      }),
    };
    fetch("/flg", param).then((res) => {});
  };

  //書類フラグ処理
  const documentsPutRequest = () => {
    const project_id = document.getElementById("project_id").value;
    const documents_flg = document.getElementById("documents_flg").value;

    const param = {
      method: "PUT",
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
      body: JSON.stringify({
        project_id: project_id,
        documents_flg: documents_flg,
      }),
    };
    fetch("/flg", param).then((res) => {});
  };

  //修理フラグ
  const repairServicePutRequest = () => {
    const project_id = document.getElementById("project_id").value;
    const repair_service_flg =
      document.getElementById("repair_service_flg").value;

    const param = {
      method: "PUT",
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
      body: JSON.stringify({
        project_id: project_id,
        repair_service_flg: repair_service_flg,
      }),
    };
    fetch("/flg", param).then((res) => {});
  };

  //車検フラグ
  const carInspectionServicePutRequest = () => {
    const project_id = document.getElementById("project_id").value;
    const car_inspection_service_flg = document.getElementById(
      "car_inspection_service_flg"
    ).value;

    const param = {
      method: "PUT",
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
      body: JSON.stringify({
        project_id: project_id,
        car_inspection_service_flg: car_inspection_service_flg,
      }),
    };
    fetch("/flg", param).then((res) => {});
  };

  //支払いフラグ
  const paymentPutRequest = () => {
    const project_id = document.getElementById("project_id").value;
    const payment_flg = document.getElementById("payment_flg").value;

    const param = {
      method: "PUT",
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
      body: JSON.stringify({
        project_id: project_id,
        payment_flg: payment_flg,
      }),
    };
    fetch("/flg", param).then((res) => {});
  };

  //受け取りフラグ
  const receiptContactPutRequest = () => {
    const project_id = document.getElementById("project_id").value;
    const receipt_contact_flg = document.getElementById(
      "receipt_contact_flg"
    ).value;

    const param = {
      method: "PUT",
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
      body: JSON.stringify({
        project_id: project_id,
        receipt_contact_flg: receipt_contact_flg,
      }),
    };
    fetch("/flg", param).then((res) => {});
  };

  //消し込みフラグ
  const depositApplyPutRequest = () => {
    const project_id = document.getElementById("project_id").value;
    const deposit_apply_flg =
      document.getElementById("deposit_apply_flg").value;

    const param = {
      method: "PUT",
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
      body: JSON.stringify({
        project_id: project_id,
        deposit_apply_flg: deposit_apply_flg,
      }),
    };
    fetch("/flg", param).then((res) => {});
  };

  //出荷フラグ
  const shippedPutRequest = () => {
    const project_id = document.getElementById("project_id").value;
    const shipped_flg = document.getElementById("shipped_flg").value;

    const param = {
      method: "PUT",
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
      body: JSON.stringify({
        project_id: project_id,
        shipped_flg: shipped_flg,
      }),
    };
    fetch("/flg", param).then((res) => {});
  };

  //配達完了フラグ
  const deliveredPutRequest = () => {
    const project_id = document.getElementById("project_id").value;
    const delivered_flg = document.getElementById("delivered_flg").value;

    const param = {
      method: "PUT",
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
      body: JSON.stringify({
        project_id: project_id,
        delivered_flg: delivered_flg,
      }),
    };
    fetch("/flg", param).then((res) => {});
  };
  //催促フラグ
  const reminderPutRequest = () => {
    const project_id = document.getElementById("project_id").value;
    const reminder_flg = document.getElementById("reminder_flg").value;

    const param = {
      method: "PUT",
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
      body: JSON.stringify({
        project_id: project_id,
        reminder_flg: reminder_flg,
      }),
    };
    fetch("/flg", param).then((res) => {});
  };

  //法的処置フラグ
  const illegalActionPutRequest = () => {
    const project_id = document.getElementById("project_id").value;
    const illegal_action_flg =
      document.getElementById("illegal_action_flg").value;

    const param = {
      method: "PUT",
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
      body: JSON.stringify({
        project_id: project_id,
        illegal_action_flg: illegal_action_flg,
      }),
    };
    fetch("/flg", param).then((res) => {});
  };
</script>
