<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>出品者 管理一覧ページ</title>
</head>
<style>
  * {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
  }

  .none {
    display: none;
    /* ボックスごと非表示 */
  }

  .hidden {
    text-indent: 100%;
    white-space: nowrap;
    /* 改行せずに表示 */
    overflow: hidden;
    /* ボックスの中身が不可視 */
  }

  body {
    width: 100%;
    height: 100%;
  }

  header {
    width: 100%;
    height: 80px;
    display: flex;
    font-size: 25px;
    align-items: center;
    background-color: aqua;
    text-align: center;
    margin: 0 auto;
  }

  .logo {
    width: 55%;
    text-align: right;
  }

  .header_r {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_r>li {
    margin: 15px;
  }

  .header_r>li>button {
    color: #fff;
    background-color: #eb6100;
    border: 1px solid gray;
    width: 100px;
    height: 40px;
  }

  .login_name {
    font-size: 20px;
  }

  .login_box {
    width: 40%;
    height: 300px;
    background-color: rgb(225, 222, 222);
    border-radius: 8px;
  }
</style>

<body>
  <header>
    <p class="logo">
      <a href="/management"> LOGO 社名 </a>
    </p>

    <ul class="header_r">
      <li>
        <button>
          <a href="/car"> 車両登録</a>
        </button>
      </li>
      <li class="login_name">ログイン指名</li>
    </ul>
  </header>
  <main>
    <p>
      <% console.log(values) %>
    </p>

    ユーザーID：<input type="text" id="user_id" name="user_id"><br>
    <hr>
    プロジェクトID：<input type="text" name="project_id" id="project_id" value="1"><br>
    書類フラグ<input type="checkbox" name="documents_flg" id="documents_flg" value="1"><br>
    修理フラグ<input type="checkbox" name="repair_service_id" id="repair_service_id" value="1"><br>
    車検フラグ<input type="checkbox" name="car_inspection_service_id" id="car_inspection_service_id" value="1"><br>
    支払いフラグ<input type="checkbox" name="payment_flg" id="payment_flg" value="1"><br>
    受け取り連絡フラグ<input type="checkbox" name="receipt_contact_flg" id="receipt_contact_flg" value="1"><br>
    消込フラグ<input type="checkbox" name="deposit_apply_flg" id="deposit_apply_flg" value="1"><br>
    出荷フラグ<input type="checkbox" name="shipped_flg" id="shipped_flg" value="1"><br>
    催促フラグ<input type="checkbox" name="reminder_flg" id="reminder_flg" value="1"><br>
    法的措置フラグ<input type="checkbox" name="illegal_action_flg" id="illegal_action_flg" value="1"><br>

    <button type="submit" onclick="postRequest()">フラグ登録する</button>
  </main>

  <footer></footer>
</body>

</html>

<script>
  const postRequest = () => {
    const distinction = document.getElementById("distinction").value; //distinction取得
    const birthday = document.getElementById("birthday").value; //birthday取得
    const name = document.getElementById("name").value; //name取得
    const phone_number = document.getElementById("phone_number").value; //phone_number取得
    const address = document.getElementById("address").value; //address取得
    const password = document.getElementById("password").value; //password取得
    const trust_flg = document.getElementById("trust_flg").value;//trust_flg取得

    const param = {
      method: "POST",
      headers: {
        "Content-Type": "application/json; charset=utf-8"
      },
      body: JSON.stringify({
        distinction: distinction,
        birthday: birthday,
        name: name,
        phone_number: phone_number,
        address: address,
        password: password,
        trust_flg: trust_flg
      })
    }

    fetch('/user/signup', param).then((res) => {
      res.json().then(data => data.result ? window.location.href = 'http://localhost:8080/auction' : alert('ユーザー登録に失敗しました'))
    })
  }
</script>
