<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>入札画面</title>
</head>
<style>
    * {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        box-sizing: border-box;
        text-decoration: none;
    }

    .none {
        display: none;
        /* ボックスごと非表示 */
    }

    .hidden {
        text-indent: 100%;
        white-space: nowrap;
        /* 改行せずに表示 */
        overflow: hidden;
        /* ボックスの中身が不可視 */
    }

    body {
        width: 100%;
        height: 100%;
    }

    header {
        width: 100%;
        height: 80px;
        display: flex;
        font-size: 25px;
        align-items: center;
        background-color: aqua;
        text-align: center;
        margin: 0 auto;
    }

    .logo {
        width: 55%;
        text-align: right;
    }

    .header_r {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header_r>li {
        margin: 15px;
    }

    .header_r>li>button {
        color: #fff;
        background-color: #eb6100;
        border: 1px solid gray;
        width: 100px;
        height: 40px;
    }

    .login_name {
        font-size: 20px;
    }

    .login_box {
        width: 40%;
        height: 300px;
        background-color: rgb(225, 222, 222);
        border-radius: 8px;
    }

    /* ---- main ---- */
    main {
        width: 80%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        /* background-color: red; */
    }

    a {
        color: black;
    }
</style>

<body>
    <header>
        <p class="logo">
            <a href="/management"> LOGO 社名 </a>
        </p>

        <ul class="header_r">
            <li>
                <button>
                    <a href="/car"> 車両登録 </a>
                </button>
            </li>
            <li class="login_name">ログイン指名</li>
        </ul>
    </header>
    <p><img src="" alt="車両画像"></p><br>

    <!-- 車両情報 -->
    <div>
        <!-- 車両名 -->
        <label for="type_name">
            車両名:<% values.type_name %>
        </label>

        <!-- グレード -->
        <label for="grade">
            グレード:
        </label>

        <!-- メーカー -->
        <label for="maker">
            メーカー:
        </label>

        <!-- 年式 -->
        <label for="age">
            年式:
        </label>

        <!-- モデル年式 -->
        <label for="model_age">
            モデル年式:
        </label><br>

        <!-- 型式 -->
        <label for="model">
            型式:
        </label>

        <!-- 排気量 -->
        <label for="displacement">
            排気量:
        </label><br>

        <!-- 走行距離 -->
        <label for="milage">
            走行距離:
        </label>

        <!-- 形状 -->
        <label for="shape">
            形状:
        </label><br>

        <!-- トランスミッション -->
        <label for="transmission">
            トランスミッション:
        </label>

        <!-- 駆動方式 -->
        <label for="drive_system">
            駆動方式:

            </select>
        </label><br>

        <!-- 定員 -->
        <label for="capacity">
            定員:
        </label>

        <!-- ドア数 -->
        <label for="door_number">
            ドア数:
        </label><br>

        <!-- ハンドル向き -->
        <label for="handle">
            ハンドル向き:
        </label>

        <!-- 評価点 -->
        <label for="evaluation">
            評価点:
        </label><br>

        <!-- 外装色 -->
        <label for="exterior_color">
            外装色:
        </label>

        <!-- 内装色 -->
        <label for="interior_color">
            内装色:
        </label><br>

        <!-- 車検 -->
        <label for="vehicleInspection">
            車検:
        </label>

        <!-- 修復歴 -->
        <label for="repair">
            修復歴:
        </label><br>

        <!-- コメント -->
        <label for="comment">
            コメント:
        </label>
    </div>


    <p>残り〇〇秒</p><br>

    <!-- 初期価格 -->
    <label for="amount">
        金額:
    </label><br>

    <label for="amountNow">
        現在の金額:
    </label><br>

    <label for="bid">
        <input type="text" name="bid" id="bid">円
        <button type="submit">入札する</button>
    </label>


</body>

</html>
