<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>オークション</title>
</head>

<body>
    <header>
        <p>ロゴ</p>
        <p>名前</p>
    </header>

    <% for (var i=0; i < values.length; i++) { %>
        <div>
            <p>車体番号:<%= values[i].car_id %>
            </p>
            <p>
                車名:<%= values[i].type_name %>
            </p>
            <p>
                金額:<%= values[i].purchace_price %>円
            </p>
        </div>
        <% } %>
</body>

</html>
