<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>オークション</title>
</head>

<body>
    <header>
        <p>ロゴ</p>
        <p>名前</p>
    </header>

    id<input type="text" id="id" value="999"><br>
    <button onclick="getRequest()">取得（GET）</button>
    <div>
        <img src="" alt="車両画像">
        <p>値段:</p>
    </div>
</body>

</html>

<script src="/socket.io/socket.io.js"></script>
<script>
    const SocketIo = io();

    const getRequest = () => {
        const id = document.getElementById('id').value//id取得
        fetch(`/cars/${id}`).then((res) => {
            res.json().then((data) => {
                const newElm = document.createElement('p')
                for (let i = 0; i < data.length; i++) {
                    resultMessage += data[i]['purchace_price']
                    resultMessage += data[i]['type_name']
                }

                const newContent = document.createTextNode(resultMessage)
                newElm.appendChild(newContent)
                const parentElm = document.getElementById('messageArea')
                parentElm.insertBefore(newElm, parentElm.firstChild)
            })
        })
    }
</script>
