<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>オークション</title>
</head>

<body>
    <header>
        <p>ロゴ</p>
        <p>名前</p>
    </header>

    <div>
        <ul>
            <li>
                <%= values[0].type_name %>
            </li>
            <li><img src="<%= values[0].picture_path %>" alt="車両画像"></li>
            <li>値段:<%= values[0].purchace_price %>
            </li>
        </ul>
    </div>
</body>

</html>

<script>
    console.log(result);
</script>
