<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>マイページ</title>
</head>

<body>
    <header>
        <p>ロゴ</p>
        <p>名前</p>
    </header>
    <h1>マイページ</h1>
    <p>名前:</p>
    <p>電話番号:</p>
    <button>ログアウトする</button>

    <h2>取引車両</h2>

    <div>
        <img src="" alt="車両画像"><br>
        <p>支払い状況</p>
        <p>値段</p>
        <button>キャンセルボタン</button>
    </div>
</body>

</html>
