<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>購入確定画面</title>
</head>

<body>

    <header>
        <p>ロゴ</p>
        <p>名前</p>
    </header>

    <h1>購入確定画面</h1>
    <p>ご落札誠にありがとうございます！！！</p>

    <p>落札金額は〇〇円です。</p>
    <p>担当者から連絡を差し上げますので、それまでしばらくお待ちください</p>
    <buttons>マイページに戻る</buttons>
</body>

</html>
