<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>マイページ</title>
</head>
<style>
    * {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        box-sizing: border-box;
        text-decoration: none;
    }

    .none {
        display: none;
        /* ボックスごと非表示 */
    }

    .hidden {
        text-indent: 100%;
        white-space: nowrap;
        /* 改行せずに表示 */
        overflow: hidden;
        /* ボックスの中身が不可視 */
    }

    body {
        width: 100%;
        height: 100%;
    }

    header {
        width: 100%;
        height: 80px;
        display: flex;
        font-size: 25px;
        align-items: center;
        background-color: aqua;
        text-align: center;
        margin: 0 auto;
    }

    .logo {
        width: 55%;
        text-align: right;
    }

    .header_r {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header_r>li {
        margin: 15px;
    }

    .header_r>li>button {
        color: #fff;
        background-color: #eb6100;
        border: 1px solid gray;
        width: 100px;
        height: 40px;
    }

    .login_name {
        font-size: 20px;
    }

    .login_box {
        width: 40%;
        height: 300px;
        background-color: rgb(225, 222, 222);
        border-radius: 8px;
    }

    /* ---- main ---- */
    main {
        width: 80%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        /* background-color: red; */
    }

    a {
        color: black;
    }

    /* ボタン */
    .button {
        display: flex;
        justify-content: space-around;
        margin: 20px;
    }

    .main_button>li {
        margin: 5px;
    }

    .main_button>li>button {
        width: 120px;
        height: 30px;
    }

    .title {
        text-align: center;
    }

    .bigBox {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 80%;
        margin: 0 auto;
        display: flex;
    }

    .box {
        width: 50%;
        text-align: center;
    }

    /* 項目エリア */
    .content_area {
        margin: 20px auto;
        /* background-color: #eb6100; */
    }

    .card_flex {
        width: 100%;
        display: flex;
    }

    /* 車両のカードレイアウト */
    .card {
        width: 300px;
        height: 300px;
        margin: 20px;
        background-color: aquamarine;
        border-radius: 8px;
    }

    .card_img {
        width: 300px;
        height: 200px;
        background-color: black;
    }
</style>

<body>
    <header>
        <p class="logo">
            <a href="/management"> LOGO 社名 </a>
        </p>

        <ul class="header_r">
            <li>
                <button>
                    <a href="/car"> 車両登録 </a>
                </button>
            </li>
            <li class="login_name">ログイン指名</li>
        </ul>
    </header>

    <h1 class="title">マイページ</h1>
    <div class="bigBox">
        <div class="box">
            <p>名前<%= values[0][0].name %>
            </p>
            <p>電話番号:<%= values[0][0].phone_number %>
            </p>
        </div>
        <div class="box">
            <button>ログアウトする</button>
        </div>
    </div>


    <h2 class="title">取引車両</h2>

    <div class="content_area">
        <div class="crad_flex">
            <div class="card">
                <img src="" alt="車両画像" class="card_img">
                <p>支払い状況</p>
                <p>値段</p>
                <button>キャンセルボタン</button>
            </div>
        </div>
    </div>

</body>

</html>
